
.masthead {
  position: relative;
  width: 100%;
  height: auto;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../img/bg-masthead.jpg");
  background-position:bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size:100%;
}

.masthead h1 {

  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}


@media (min-width: 992px) {
  .masthead {
    height: 120vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 100pt;
    line-height: 100pt;
    letter-spacing: 10pt;
  }
  .masthead h2 {
    max-width: 50rem;
    font-size: 15pt;
  }
}


.cooperation .col-lg-12 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.cooperation h2 {
  font-weight: 400;
}

.cooperation .col-lg-12 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


